@media only screen and (max-width: 600px) {
  #backgroundVideo {
    display: none;
  }

  h3,
  p {
    font-size: 1.8em;
  }

  a {
    font-size: xx-large;
  }

  h4 {
    display: none;
  }
  .dernierLivre h4 {
    display: block;
    font-size: 1.8em;
  }

  .photoEtArticle {
    display: inline;
  }

  .photoEtArticle img {
    margin-top: 20px;
  }

  .ouvragesPresentation {
    flex-direction: column;
  }

  .ouvragesPresentation article {
    width: 80%;
    margin: 20px auto;
    padding: 0;
  }

  .ouvragesPresentation img {
    padding-top: 20px;
    border-top: 1px black solid;
  }

  article p {
    padding: 0;
    width: auto;
  }

  article {
    width: auto;
    padding: 0;
  }

  header {
    padding: 0;
  }

  header nav {
    position: inherit;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }
}
